<html>

    <head>
        <title>YE 2024</title> 
    </head>
    <body> 
        <p>bless <a href="{{url_for('loginpage')}}">Log In</a> <a href="{{url_for('signup')}}">Sign Up</a> <a href="{{url_for('blog')}}">Show Your Support</a> <a href="{{url_for('logout')}}">Log out</a> </p>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>